@model WebApplicationMvc.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<form method="get" action="@Url.Action("Edit", "Users")" class="form-horizontal" role="form">
	@Html.HiddenFor(m => m.UserName)
	<fieldset>
		<legend>Membership Details</legend>
		<div class="form-group">
			<span class="control-label col-md-3">Id</span>
			<div class="col-md-9"><p class="form-control-static">@Model.Id</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">Username</span>
			<div class="col-md-9"><p class="form-control-static">@Model.UserName</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">Email</span>
			<div class="col-md-9"><p class="form-control-static">@Model.Email</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">Display Name</span>
			<div class="col-md-9"><p class="form-control-static">@Model.DisplayName</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">Comment</span>
			<div class="col-md-9"><p class="form-control-static">@Model.Comment</p></div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Profile Details</legend>
		<div class="form-group">
			<span class="control-label col-md-3">Default Profile</span>
			<div class="col-md-9"><p class="form-control-static">@Model.DefaultProfileId</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">Country</span>
			<div class="col-md-9"><p class="form-control-static">@Model.CountryId</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">State</span>
			<div class="col-md-9"><p class="form-control-static">@Model.StateId</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">Lead Credits</span>
			<div class="col-md-9"><p class="form-control-static">@Model.Credits</p></div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Admin Details</legend>
		<div class="form-group">
			<span class="control-label col-md-3">Created On</span>
			<div class="col-md-9"><p class="form-control-static">@Model.CreateDate</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">Is Approved?</span>
			<div class="col-md-9"><p class="form-control-static">@Model.IsApproved</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">In Industry?</span>
			<div class="col-md-9"><p class="form-control-static">@Model.InIndustry</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">Is Bad?</span>
			<div class="col-md-9"><p class="form-control-static">@Model.IsBad</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">Lockout?</span>
			<div class="col-md-9"><p class="form-control-static">@Model.LockoutEndDateUtc</p></div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Notification Settings</legend>
		<div class="form-group">
			<span class="control-label col-md-3">Direct Messages</span>
			<div class="col-md-9"><p class="form-control-static">@Model.NotifyDirectMessages</p></div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-3">Ask and Answer</span>
			<div class="col-md-9"><p class="form-control-static">@Model.NotifyAskAndAnswer</p></div>
		</div>
	</fieldset>
	<div class="form-group">
		<div class="col-md-9 col-md-offset-3"><button type="submit" class="btn btn-primary">Edit User</button></div>
	</div>
</form>