@model ManageUserViewModel
@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title</h2>

<div class="row">
	<div class="col-md-12">
		<form method="post" action="@Url.Action("Manage", "Account")" class="form-horizontal" role="form">
			@Html.AntiForgeryToken()
			<fieldset>
				<legend>Account Details</legend>
				@Html.ValidationSummary()
				<div class="form-group">
					@Html.LabelFor(m => m.DisplayName, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.DisplayName)
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Email)
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<button type="submit" class="btn btn-primary">Save Changes</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_ChangePasswordPartial", new ChangePasswordViewModel())
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
